::selection {
    background: none;
}
#header {
    background: #90daf7 url(../../app/img/topbg.png) no-repeat center bottom;
    background-size: 100% 100%;
    height: 140px;
    width: 100%;
    text-align: center;
}
html {
    height: 100%;
}
body {
    background: #348314 url(../../app/img/grass.png);
    min-height: 100%;
    position: relative;
}
img {
    max-width: 100%;
}
.container {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    position: relative;
}
#logo {
    width: 162px;
    margin: 0 auto;
    padding-top: 15px;
}
#messi {
    width: 65px;
    position: absolute;
    left: 5px;
    top:50px;
}
#plane {
    width: 130px;
    position: absolute;
    left: 80%;
    margin-left: -65px;
    top:-65px;
}
#belt {
    width:160px;
    position: absolute;
    left: 50%;
    margin-left: -80px;
    top:-15px;
}
#gameNavigation {
    padding-top: 25px;
}
.gameButton {
    background-color:#3c8ae4;
    margin: 1em 1em;
    height: 70px;
    border-radius: 20px 2px 20px 2px;
    border:2px solid #221714;
    box-shadow: 2px 4px 0 rgba(0,0,0,0.5);
    color: #FFF;
    padding: 2px;
    position: relative;
    display: block;
}
.gameButton.disabled {
    background: #d4d4d4;
}
.gameButton:active,.gameButton:focus{
    background-color: #ffd800;
}
.gameButton-innner {
    width: 100%;
    height: 100%;
    background: url(../../app/img/btnbg.png) center center;
    background-size:100% 100%;
    border-radius: 20px 2px 20px 2px;
    position: relative;
}
.gameButton-tag {
    position: absolute;
    left: 5%;
    top:-5px;
    border-radius: 0 0 20px 0;
    height: 40px;
    background: #1a2b4d;
    width: 45px;
    border:1px solid #221714;
    box-shadow: 1px 2px 0 rgba(0,0,0,0.5);
    padding: 3px 5px 0 0;
    text-align: center;
    overflow: hidden;
}
.gameButton-small {
    font-size: 8px;
    line-height: 12px;
    height: 12px;
    overflow: hidden;
    padding-top: 2px;
}
.gameButton-large {
    font-family: 'Audiowide', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-style: italic;
    font-weight: normal;
}
.gameButton-img {
    position: absolute;
    bottom: 0;
    left: 50%;
}
#gameButton-pass .gameButton-img {
    width: 195px;
    margin-left:-80px;
}
#gameButton-dribble .gameButton-img {
    width: 94px;
    bottom: 13px;
    margin-left: -45px;
    
}
#gameButton-shoot .gameButton-img {
    width: 200px;
    bottom: 15px;
    margin-left: -100px;
}
#gameButton-dribbleLeft,#gameButton-dribbleRight {
    position: absolute;
    bottom: 0;
    width: 75px;
}
#gameButton-dribbleLeft {
    left: 0;
}
#gameButton-dribbleRight {
    right: 0;

}
#showTops {
    width: 106px;
    height: 80px;
    display: block;
    background: url(../../app/img/showtops.png) no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
}
#share {
    background-color: #ffd800;
    border-radius: 0 0 20px 0;
    position: absolute;
    right: 3%;
    top:-5px;
    text-align: center;
    padding: 6px 15px 4px;
    border:1px solid #221714;
    box-shadow: 2px 2px 0 rgba(0,0,0,0.5);
}
#share img {
    width: 22px;
    margin: 0 auto;
    position: relative;
    right: -2px;
}
#shareText {
    font-size: 8px;
    color: #226a0e;
    line-height: 14px;
}

#leaderboard-main {
    background-color: #1a2b4d;
    border:2px solid #221714;
    box-shadow: 3px 3px 0 rgba(0,0,0,0.5);
    width: 96%;
    padding: 10px 0 0;
    max-width: 730px;
    margin: 0 auto;
    color: #FFF;
}

#leaderboard-buttons {
    list-style: none;
    margin: 0 -1% 0.5em -1%;
    padding: 5px;
    background:#3c8ae4;
    border:2px solid #221714;
    box-shadow: 3px 3px 0 rgba(0,0,0,0.5);
}
.leaderboard-button {
    list-style: none;
    margin: 0;
    padding: 0;
    
    width: 20%;
    height: 35px;
    line-height: 35px;
    float: left;
    display: inline-block;
    
    text-align: center;
    
}
#icon-trophy {
    position: relative;
}
#icon-trophy img{
    max-width: 45px;
    position: absolute;
    bottom: -15px;
    left: 0;
}

.leaderboard-button.current {

   color: #1a2b4d;
   font-size: 1.2em;
   font-weight: bold;
}

#leaderboard-main .container {
    width: auto;
    padding: 0 0.5em;
}
#leaderboard-username {
    text-align: center;
    font-size: 1.5em;
    padding: 0.5em 0;
}
.leaderboard-rank {
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 16px;
    border-radius: 50%;
    color: #1a2b4d;
    background: #FFF;
    font-family: 'Audiowide', sans-serif;
    position: absolute;
    right: 15%;
    top: 10px;
    overflow: hidden;
}
.leaderboard-col1 {
    width: 15%;
    height: 100%;
    display: inline-block;
    position: relative;
    float: left;
}
.leaderboard-col2 {
    width: 45%;
    height: 100%;
    display: inline-block;
    float: left;
}
.leaderboard-col3 {
    width: 35%;
    height: 100%;
    display: inline-block;
    float: left;
}
.leaderboard-name {
    display: block;
    line-height: 25px;
    height: 25px;
    overflow: hidden;
    padding-top: 5px;
    font-size: 16px;
}
.leaderboard-gamePlayed {
    display: block;
    line-height: 15px;
    font-size: 12px;
    color: #3c8ae4;
}

.leaderboard-score {
    font-family: 'Audiowide', sans-serif;
    font-size: 18px;
    line-height: 55px;
    overflow: hidden;
    background: url(../../app/img/score-icon.png) no-repeat left center;
    background-size: 18px 18px;
    padding-left: 22px;
    
}
.leaderboard-smallRank .leaderboard-rank {
    font-size: 10px;
    color: #FFF;
    width: auto;
    background:none;
    border-radius: 0;
}

.userpanel-rank,.userpanel-score {
    font-family: 'Audiowide', sans-serif;
    color: #3c8ae4;
}
.leaderboard-list, .leaderboard-item {
        padding: 0;
        margin: 0;
        list-style: none;
}
.leaderboard-item {
    height: 55px;
    line-height: 55px;
    overflow: hidden;
    color: #FFF;
    border-bottom: 1px solid #3c8ae4; 
}
.leaderboard-smallRank {
    border-bottom: 0;
}
.leaderboard-more {
    font-size: 40px;
    color: #3c8ae4;
    text-align: center;
    line-height: 40px;
}
#leaderboard-buttons {
}

.leaderboard-content h2 {
    margin: 0.5em 0 0.2em;;
    text-align: center;
    font-size: 1.2em;
}
.leaderboard-content p {
    margin: 0 0 0.2em;
    padding: 0;
}

.userpanel {
    margin:0;
    text-align: center;
    background-color: #0e509c;
    border-radius: 0 2px 0 0;
    padding: 5px 0;
    color: #FFF;
    line-height: 25px;
}


#gameNavigation {
    height: 300px;
}
#leaderboard {
    height: 80px;
    overflow: hidden;
}
#leaderboard.expand {
    height: auto;
    overflow: visible;
    padding-bottom: 40px;
}
#backHome {
    width: 100px;
    margin: 0 auto;
    display: block;
}
@media only screen and (min-width: 350px) and ( max-width:749px) {
    /* Style adjustments for viewports that meet the condition */
    #header {
        background-size: 100% auto;
        height: 160px; 
    }
}
@media only screen and (min-width: 750px){
    /* Style adjustments for viewports that meet the condition */
    #header {
        background-size: 100% auto;
        height: 250px; 
    }
    #logo {
        width: 323px;
        padding-top: 30px;
    }
    #plane {
        width: 240px;
        margin-left: -100px;
        top:-105px;
    }
    #belt {
        width: 320px;
        margin-left: -160px;
        top:-40px;
    }
    #messi {
        width: 130px;
        left: 10%;
    }
    #gameNavigation {
        padding-top: 40px;
    }
    .gameButton {
        height: 120px;
        margin: 1.8em 1em;
        border-radius: 50px 2px 50px 2px;
    }
    .gameButton-innner{
        border-radius: 50px 2px 50px 2px;
    }
    #gameButton-pass .gameButton-img {
        width: 335px;
        margin-left: -154px;
    }
    #gameButton-dribble .gameButton-img {
        width: 160px;
        margin-left: -75px;
        bottom: 20px;
    }
    #gameButton-shoot .gameButton-img {
        width: 320px;
        margin-left: -160px;
        bottom: 20px;
    }
    #gameButton-dribbleLeft, #gameButton-dribbleRight {
        width: 140px;
    }
    #share {
        border-radius: 0 0 30px 2px;
        padding-bottom: 10px;
    }
    #share img {
        width: 30px;
        right: -3px;
    }
    #shareText {
        font-size: 12px;
        line-height: 18px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .gameButton-tag {
        width: 80px;
        height: 75px;
        border-radius: 0 0 40px 2px;
    }
    .gameButton-small {
        font-size: 12px;
        line-height: 16px;
        height: 16px;
        padding-top: 8px;
    }
    .gameButton-large {
        font-size: 26px;
        line-height: 40px;
        height: 40px;
    }
    #showTops {
        width: 140px;
        height: 100px;
    }

    body {
        background-size:80px 150px;
    }
    #gameNavigation {
    height: 500px;
    }
    #leaderboard {
    height: 100px;
    }
}