::selection {
    background: none;
}
/* FA 4.0.0 and newer */
.fa {
  text-rendering: auto;
  font-variant: normal;
  font-family: 'FontAwesome'
}
#header {
    background: #90daf7 url(../../app/img/topbg.png) no-repeat center bottom;
    background-size: 100% 100%;
    height: 130px;
    width: 100%;
    text-align: center;
}
html {
    height: 100%;
}
body {
    background: #348314 url(../../app/img/grass.png);
    min-height: 100%;
    position: relative;
}
img {
    max-width: 100%;
}
.container {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    position: relative;
}
#logo {
    width: 170px;
    margin: 0 auto;
    top:-12px;
    position: relative;
    left:0px;
}
#slogen {
    text-align: center;
    font-size: 10px;
    position: absolute;
    top:90px;
    left: 50%;
    width: 100px;
    margin-left: -50px;
    color: #226a0e;
    font-weight:bold;
    border-radius: 5px;
}
#messi {
    width: 65px;
    position: absolute;
    left: 5px;
    top:50px;
}
#plane {
    width: 80px;
    position: absolute;
    right:2%;
    top:-65px;
    cursor: pointer;
}
#rule {
    width: 120px;
    height: 50px;
    position: absolute;
    left: 2%;
    top:-34px;
    cursor: pointer;
}
#rule #userRank:active {
    color: #ffd800;
}
#belt {
    width:160px;
    position: absolute;
    left: 50%;
    margin-left: -80px;
    top:-15px;
}
#gameNavigation {
    padding-bottom: 40px;
}
#game-topBar {
    position: absolute;
    top: 1em;
    left: 8%;
    width: 85%;
    z-index: 99;
}
#game-topBar #game-topBar-Logo{
    width: 70px;
    position: absolute;
    left: -16px;
    top:-2px;
}
#loading {
    width: 120px;
    background: rgba(0,0,0,0.8);
    border-radius: 10px;
    position: absolute;
    position: fixed;
    top:30%;
    left: 50%;
    margin-left: -70px;
    z-index: 99;
    text-align: center;
    color: #fff;
    padding: 10px;
    display: none;
}
#preload {
    width: 120px;
    position: absolute;
    position: fixed;
    top:30%;
    left: 50%;
    margin-left: -70px;
    text-align: center;
    color: #FFF;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
    
    padding: 10px;
}
#preload #loading-info {
    font-weight: bold;
    
}
#loading-info {
    font-size: 14px;
    line-height: 16px;
    padding: 5px 0;
}
#leaderboard-adLeft img{
    width: 82px;
    height: 28px;
    
}
#leaderboard-adLeft {
    width: 180px;
    height: 28px;
    vertical-align: bottom;
    float: left;
    cursor: pointer;
    margin-left: 50px;
    
}
#leaderboard-adRight {
    float: right;
    width: 80px;
    margin-right: 10px;
}

.leaderboardPrize {
    position:absolute;
    top: -20px;
    right: 0;
    color: #ffd800;
    font-size: 12px;
    font-style: italic;
    width: 80px;
    display: none;
}
#leaderboardPrize-shirt {
    top: -40px;
    
}
#copyright {
    height: 15px;

    text-align: center;
    text-decoration: none;
    display: block;
    position:absolute;
    bottom: 15px;
    right: 15px;
}
#copyright img {
    max-height: 100%;
}
#game-actionBar {
    width: 96%;
    position: absolute;
    z-index: 99;
    left: 2%;
    top: 10px;
}

#game-replay {
    width: 40px;
    height: 40px;
    overflow: hidden;
    cursor: pointer;
    background: url(../../app/img/replay.png) no-repeat left center;
    background-size: 100px 39px;
    margin-bottom: 10px;
}
#game-leaderboard {
    width: 40px;
    height: 50px;
    overflow: hidden;
    cursor: pointer;
    background: url(../../app/img/leaderboard.png) no-repeat left center;
    background-size: 120px 50px;    
}
#exitLink {
    display: none;
}
#instruction {
    padding: 3px 0px;
    border:1px solid #fff;
    color: #fff;
    font-size: 10px;
    background: #0454b7;
    position: absolute;
    top: 80px;
    left: 50%;
    width: 140px;
    margin-left: -71px;
    border-radius: 15px 2px 15px 2px;
    
}
#instruction:active {
    color: #221714;
    background: #ffd800;
}
.bar {

    height: 30px;
    border-radius:20px 2px 20px 2px;
    border:1px solid #221714;
    box-shadow: 1px 1px 0 rgba(0,0,0,0.5);
    color: #FFF;
    padding: 3px 3px;    
}
.bar-inner {
    border-radius:18px 2px 18px 2px;
    height: 100%;
    width: 100%;
}
.bar-blue {
    background-color: #3c8ae4;  
}
.bar-blue .bar-inner {
    background-color: #00429a;  
}
#game-topBar-score,#game-topBar-high,#game-topBar-coupon {
    position: absolute;
    height: 100%;
    line-height: 30px;
    height: 30px;
    font-style: italic;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
    font-weight: bold;
    font-size: 16px;
}
#game-topBar-high {
    left: 45%;
    top:4px;
    padding-left: 21px;
    background:url(../../app/img/high-icon.png) no-repeat left 4px;
    background-size: 20px 20px;
}
#game-topBar-score {
    left: 25%;
    top:4px;
    padding-left: 21px;
    background:url(../../app/img/shoot-icon.png) no-repeat left 4px;
    background-size: 20px 20px;
}
#game-topBar-coupon {
    left: 75%;
    top:4px;
    padding-left: 21px;
    background:url(../../app/img/score-icon.png) no-repeat left 4px;
    background-size: 20px 20px;
}
.gameButton {
    background-color:#3c8ae4;
    margin: 1em auto;
    width: 80%;
    height: 55px;
    border-radius: 20px 2px 20px 2px;
    border:2px solid #221714;
    box-shadow: 2px 4px 0 rgba(0,0,0,0.5);
    color: #FFF;
    padding: 2px;
    position: relative;
    display: block;
    max-width: 600px;
    cursor: pointer;
}
.gameButton.disabled {
    background: #d4d4d4;
}
.gameButton:active,.gameButton:focus{
    background-color: #ffd800;
}
.gameButton.disabled:active,.gameButton.disabled:focus{
    background: #d4d4d4;
}
.gameButton-innner {
    width: 100%;
    height: 100%;
    background: url(../../app/img/btnbg.png) center center;
    background-size:100% 100%;
    border-radius: 20px 2px 20px 2px;
    position: relative;
}
.gameButton-tag {
    position: absolute;
    left: 2%;
    top:-3px;
    border-radius: 0 0 20px 0;
    height: 32px;
    background: #1a2b4d;
    width: 40px;
    border:1px solid #221714;
    box-shadow: 1px 2px 0 rgba(0,0,0,0.5);
    padding: 5px 2px 0;
    text-align: center;
    overflow: hidden;

}
.gameButton-small {
    font-size: 7px;
    line-height: 10px;
    height: 10px;
    overflow: hidden;
}
.gameButton-large {
    font-size: 12px;
    line-height: 18px;
    font-style: italic;
    font-weight: normal;
}
.gameButton-img {
    position: absolute;
    bottom: 0;
    left: 50%;
}
#gameButton-dribble .gameButton-img {
    width: 155px;
    margin-left:-65px;
}
#gameButton-pass .gameButton-img {
    width: 75px;
    bottom: 10px;
    margin-left: -38px;
    
}
#gameButton-shoot .gameButton-img {
    width: 160px;
    bottom: 10px;
    margin-left: -80px;
}
#gameButton-passLeft,#gameButton-passRight {
    position: absolute;
    bottom: 0;
    width: 65px;
}
#gameButton-passLeft {
    left: 0;
}
#gameButton-passRight {
    right: 0;

}

#showTops {
    width: 90px;
    height: 61px;
    display: block;
    margin: 0 auto;
}
#share,#ruleConner {
    position: absolute;
    right: 0;
    top:0;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: url(../../app/img/share.png) no-repeat right top;
    background-size: 50px 50px;
}
#ruleConner {
    background: url(../../app/img/ruleconner.png) no-repeat right top;
    background-size: 50px 50px;
    right: auto;
    left: 0;
    top: auto;
    bottom: 0;
}
#ruleConner .share-icon {
    position: relative;
    color: #26b315;
    left: 1px;
    top: 28px;
}
#share .share-icon{
    position: relative;
    color: #c07410;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
    top:9px;
    right: 2px;
    float: right;

}

.leaderboardContainer {
    min-height: 335px;
}
#leaderboard-main {
    background-color: #1a2b4d;
    border:2px solid #221714;
    box-shadow: 3px 3px 0 rgba(0,0,0,0.5);
    width: 96%;
    padding: 30px 0 0;
    max-width: 730px;
    margin: 0 auto;
    color: #FFF;
    position: relative;
}

#leaderboard-buttons {
    list-style: none;
    margin: 0 -1% 0.5em -1%;
    padding: 5px;
    background:#3c8ae4;
    border:2px solid #221714;
    box-shadow: 3px 3px 0 rgba(0,0,0,0.5);
}
.leaderboard-button {
    list-style: none;
    margin: 0;
    padding: 0;
    
    width: 21%;
    height: 35px;
    line-height: 35px;
    float: left;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    position: relative;
}
.leaderboard-button:first-child {
    width: 15%;
}
#icon-trophy {
    position: relative;
}
#icon-trophy img{
    max-width: 45px;
    position: absolute;
    bottom: 15px;
    left: 0;
}
#leaderboard-ad {
    margin-bottom: 5px;
}
.leaderboard-button.current {

   color: #1a2b4d;
   font-size: 1.2em;
   font-weight: bold;
}

#leaderboard-main .container {
    width: auto;
    padding: 0 0.5em;
}
#leaderboard-username {
    text-align: center;
    font-size: 1.5em;
    padding: 0.5em 0;
}
.leaderboard-rank {
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 16px;
    border-radius: 50%;
    color: #1a2b4d;
    background: #FFF;
    position: absolute;
    right: 8px;
    top: 10px;
    overflow: hidden;
}
.leaderboard-col1 {
    width: 15%;
    height: 100%;
    display: inline-block;
    position: relative;
    float: left;
    top: 5px;
}
.leaderboard-col2 {
    width: 45%;
    height: 100%;
    display: inline-block;
    float: left;
    overflow: hidden;
}
.leaderboard-col3 {
    width: 35%;
    height: 100%;
    display: inline-block;
    float: left;
    overflow: hidden;
}
.leaderboard-name {
    display: block;
    line-height: 25px;
    height: 25px;
    overflow: hidden;
    padding-top: 5px;
    font-size: 16px;
}
.leaderboard-gamePlayed {
    display: block;
    line-height: 15px;
    font-size: 12px;
    color: #3c8ae4;
}

.leaderboard-score {
    font-size: 18px;
    line-height: 55px;
    overflow: hidden;
    background: url(../../app/img/shoot-icon.png) no-repeat left center;
    background-size: 18px 18px;
    padding-left: 22px;
    
}
.leaderboard-me .leaderboard-rank {
    background: #f7cf2b;
}
.leaderboard-me .leaderboard-gamePlayed {
    color: #f7cf2b; 
}
.leaderboard-smallRank .leaderboard-rank {
    font-size: 10px;
    color: #f7cf2b;
    width: auto;
    background:none;
    border-radius: 0;
}

.userpanel-rank,.userpanel-score {
    color: #3c8ae4;
}
.leaderboard-content {
    display: none;
}
.leaderboard-content.current {
    display: block;
}
.leaderboard-list, .leaderboard-item {
        padding: 0;
        margin: 0;
        list-style: none;
}
.leaderboard-item {
    height: 55px;
    line-height: 55px;
    overflow: hidden;
    color: #FFF;
    border-bottom: 1px solid #3c8ae4; 
}
.leaderboard-item:nth-child(6) {
    border-bottom: none;
}
.leaderboard-header {
    height: 20px;
    line-height: 20px;
    font-size: 11px;
}

.leaderboard-item.first .icon-crown,.leaderboard-item.second .icon-crown,.leaderboard-item.third .icon-crown {
    width: 18px;
    height: 18px;
    position: absolute;
    right: 12px;
    top:-2px;
    background: url(../../app/img/crown.png) no-repeat center top;
    background-size: 18px auto;
    display: block;
}
.leaderboard-me  {
    position: relative;
    color: #f7cf2b;

}
#leaderboard-score .leaderboard-me {
    height: 80px;
}
.leaderboard-me .leaderboard-inspire {
    position: absolute;
    left: 5%;
    width: 80%;
    bottom: 7px;
    padding: 2px 5%;
    background: #c01f2e;
    border-radius: 10px 0 10px 0;
    line-height: 14px;
    font-size: 10px;
    color: #fff;
    text-align: center;
    display: block;
}
.leaderboard-inspire {
    display: none;
}
.leaderboard-me .icon-me {
    position: absolute;
    width: 24px;
    height: 17px;
    background: url(../../app/img/pointer.png) no-repeat center center;
    background-size: 100% 100%;
    right: -5px;
    top:20px;
}
.leaderboard-item.first .icon-crown {
    
}
.leaderboard-item.second .icon-crown {
    background-position: center -18px;
}
.leaderboard-item.third .icon-crown {
    background-position: center -36px; 
}
.leaderboard-smallRank {
    border-bottom: 0;
}
.leaderboard-more {
    font-size: 20px;
    color: #3c8ae4;
    text-align: center;
    line-height: 20px;
    height: 30px;
    border-top: 1px solid #3c8ae4;
}
#leaderboard-buttons {
}

.leaderboard-content h2 {
    margin: 0.5em 0 0.2em;;
    text-align: center;
    font-size: 1.2em;
}
.leaderboard-content p {
    margin: 0 0 0.2em;
    padding: 0;
}

.userpanel {
    margin:0;
    text-align: center;
    background-color: #0e509c;
    border-radius: 0 2px 0 0;
    padding: 5px 0;
    color: #FFF;
    line-height: 25px;
}


#gameNavigation {
    height: 250px;
    padding-top: 20px;
    
}
#leaderboard {
    height: 61px;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}
#leaderboard.expand {
    height: auto;
    overflow: visible;
    padding-bottom: 15px;
    position: static;
}
#backHome {
    width: 100px;
    margin: 0 auto;
    display: block;
}


#lotto {
    position: absolute;
    left: 9;
    top: 0;
    width: 100%;
    height: auto;
    text-align: center;
}
#lottoLogo {
    width: 120px;
    height: 111px;
    margin: 0 auto 10px;
}
#lottoActions {
    padding: 5px 0;
}
.btn {
    cursor: pointer;
}
.btn-block {
    width: 80%;
    margin: 15px auto;
    display: block;
    text-align: center;
    border-radius: 20px 2px;
}
.btn-block .btn-inner {
    height: 40px;
    line-height: 40px;
    border-radius: 18px 2px;
}
.btn-blue {
    background-color: #3c8ae4;
    padding: 3px;
    border:2px solid #221714;
    box-shadow: 2px 2px 0 rgba(0,0,0,0.5);
}
.btn-red {
    background-color: #c01f2e;
    padding: 3px;
    border:2px solid #221714;
    box-shadow: 2px 2px 0 rgba(0,0,0,0.5);
}
.btn-yellow {
    background-color: #ffd800;
    padding: 3px;
    border:2px solid #221714;
    box-shadow: 2px 2px 0 rgba(0,0,0,0.5);
}
.btn-yellow .btn-inner {
    text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
    color: #744404;
    
}
.btn-blue:active {
    background-color: #ffd800;    
}
.btn-inline {
    width: 100px;
    display: inline-block;
    margin-right: 10px;
}
.btn-inline:last-child {
    margin-right: 0;
}
.btn-inner {
    background:url(../../app/img/btnbg.png) center center no-repeat;
    background-size: 100% 100%;
    color: #FFF;
    font-size: 16px;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
    position: relative;

}
.btn-notification {
    position: absolute;
    right: -15px;
    top:-15px;
    text-shadow: none;
    color: #FFF;
    font-size: 14px;
    display: block;
    height: 20px;
    line-height: 20px;
    background: #c01f2e;
    border-radius: 50%;
    border:1px solid #221714;
    padding: 0 6px;
    font-style: normal;
    
}
.backhome {
    position: fixed;
    top: 5%;
    left: 0;
    width: 45px;
    height: 40px;
    background: url(../../app/img/lottoback.png) right center no-repeat;
    background-size:90px 40px;
    color: #744404;
    line-height: 40px;
    font-size: 12px;
    padding-left:10px;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
    cursor: pointer;
}

#card {
    position: absolute;
    width: 254px;
    height: 170px;
    margin-left: -127px;
    top: 175px;
    left: 50%;
}
#envelope-cover {
    width: 254px;
    height: 128px;
    background: url(../../app/img/envelopeTop.png) center center no-repeat;
    background-size: 254px 128px;
    z-index: 1;
}
#envelope-front {
    width: 254px;
    height: 170px;
    background: url(../../app/img/envelopeFront.png) center center no-repeat;
    background-size: 254px 170px;
    z-index: 1;
}
#envelope-back {
    width:250px;
    height: 164px;
    background: #f3f2ee;
}
#envelope-cover,#envelope-front,#envelope-back {
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform-origin:left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
}
#envelope-back  {
    left: 2px;
    top:0;
}
#envelope-sealing {
    width: 60px;
    height: 60px;
    padding: 5px;
    left: 50%;
    margin-left: -36px;
    top:60px;
    position: absolute;
    background: #00429a;
    border-radius: 50%;
    border:1px solid #221714;
    box-shadow: 2px 2px 0 rgba(0,0,0,0.4);
    z-index: 1;
}
#envelope-sealing:active {
    background-color: #ffd800;    
}
#lotto-info {
    padding: 5px 5%;
    position: absolute;
    height: 18px;
    line-height: 18px;
    
    font-size: 12px;
    text-align: center;
    width: 80%;
    left: 5%;
    z-index: 1;
    bottom: 5px;
}
#envelope-sealingInner {
    border:2px dotted #FFF;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    color: #FFF;

    text-align: center;
    overflow: hidden;
}
#envelope-title {
    line-height: 56px;
    font-size: 16px;
    font-weight: bold;    
}
#envelope-points {
    line-height: 18px;
    font-size: 10px;
    background: url(../../app/img/score-icon.png) 10px center no-repeat;
    padding-left:30px;
    text-align: left;
    background-size: 18px 18px;
}
#envelope-arrow {

    background-color: #0b97e4;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 13px;
    left: 50%;
    margin-left: -15px;
    z-index: 2;

}
#envelope-arrowCaret {
    position: absolute;
    border-top:20px solid #0b97e4;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    width: 0;
    overflow: hidden;
    left: -10px;
    bottom: -12px;

}
#envelope-arrowPoints {
    background: url(../../app/img/score-icon.png) center 3px no-repeat;
    background-size: 18px 18px;
    padding-top: 16px;
    line-height: 16px;
    height: 16px;
    font-size: 12px;
    position: relative;
    color: #FFF;
}
.lotto-pointsCount {
    background: url(../../app/img/score-icon.png) left center no-repeat;
    background-size: 18px 18px;
    padding-left: 18px;
}
#lottoAward {
    margin-top:210px;
    padding-bottom: 50px;
}
#lottoAwardTitle {
    width: 72px;
    height: 19px;
    position: absolute;
    top:-15px;
    left: 50%;
    margin-left: -36px;
}
#lottoAward .gameButton {
    height: auto;
    margin:0 auto 30px;
    width: 254px;
    cursor: default;
}
#lottoAward .gameButton:active {
    background-color: #3c8ae4;
}
#lottoAwardList,.lottoAward-item {
    list-style: none;
    margin: 0;
    padding: 0;
}
#lottoAwardList {
    padding: 15px 0;
    width: 90%;
    margin: 0 auto;
}
.lottoAward-item {
    float: left;
    display: inline-block;
    width: 50%;
    font-size: 10px;
    text-align: center;
    
    
}

.lottoAward-img {
    border:1px solid #221714;
    box-shadow: 1px 1px 0 rgba(0,0,0,0.5);
    border-radius: 5px;
    width: 75%;
}
.lottoAward-name {
    background-color: #00419c;
    color: #FFF;
    border:1px solid #221714;
    box-shadow: 1px 1px 0 rgba(0,0,0,0.5);
    position: relative;
    top: -8px;
    margin: 0 auto;
    padding: 3px 0;
    width: 95%;
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
  }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(10px);
    transform: translateY(0);
  }
}

.float {
  -webkit-animation: float 1s infinite; /* Safari 4+ */
  animation:         float 1s infinite; /* IE 10+ */

}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to { 
    transform: rotate(360deg);
  }
}
.rotate {
  -webkit-animation: rotate 6s infinite linear; /* Safari 4+ */
  animation:         rotate 6s infinite linear; /* IE 10+ */

}
.fastRotate {
  -webkit-animation: rotate 1500ms infinite linear; /* Safari 4+ */
  animation:         rotate 1500ms infinite linear; /* IE 10+ */

}
@-webkit-keyframes opencard {
  0% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }

  50% {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }
  100% {
    -webkit-transform:rotateX(180deg) translateY(-800px);
    transform:rotateX(180deg) translateY(-800px);
    z-index: 0;
  }
}
@keyframes opencard {
  0% {
    -webkit-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }

  50% {
    -webkit-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }
  100% {
    -webkit-transform:rotateX(180deg) translateY(-800px);
    -ms-transform:rotateX(180deg) translateY(-800px);
    transform:rotateX(180deg) translateY(-800px);
    z-index: 0;
  }
}
@-webkit-keyframes envelopeslideout {
  0% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }

  100% {
    -webkit-transform: translateY(800px);
    transform: translateY(800px);
  }
}
@keyframes envelopeslideout {
  0% {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
  }

  100% {
    -webkit-transform: translateY(800px);
    -ms-transform: translateY(800px);
    transform: translateY(800px);
  }
}
@-webkit-keyframes cardslidein {
  0% {
    top:0;
    left: 0;
  }
  100% {
    top:-150px;
    left: 0;
  }
}
@keyframes cardslidein {
  0% {
    top:0;
    left: 0;
  }
  100% {
    top:-150px;
    left: 0;
  }
}
@-webkit-keyframes cardslidein2 {
  0% {
    top:0;
    left: 0;
  }
  100% {
    top:-260px;
    left: 0;
  }
}
@keyframes cardslidein2 {
  0% {
    top:0;
    left: 0;
  }
  100% {
    top:-260px;
    left: 0;
  }
}
.opencard #envelope-cover{
  -webkit-animation: opencard 2s ; /* Safari 4+ */
  animation:opencard 2s ; /* IE 10+ */
  animation-fill-mode:both;
  -webkit-animation-fill-mode:both; /* Safari and Chrome */
    
}
.opencard #envelope-front,.opencard #envelope-back{
  -webkit-animation: envelopeslideout 1s ; /* Safari 4+ */
  animation:envelopeslideout 1s ; /* IE 10+ */
  animation-fill-mode:both;
  -webkit-animation-fill-mode:both; /* Safari and Chrome */
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
    
}
.opencard #envelope-content {
  -webkit-animation: cardslidein 1s ; /* Safari 4+ */
  animation:cardslidein 1s ; /* IE 10+ */
  animation-fill-mode:both;
  -webkit-animation-fill-mode:both; /* Safari and Chrome */
  animation-delay: 1s;
  -webkit-animation-delay: 1s; 
}
#envelope-content {
    width: 252px;
    position: absolute;
    z-index: 99;
    border-radius: 20px 10px 10px 10px;
    background-color: #00419e;
    border:1px solid #221417;
    z-index: 1;
    left: 0;
    top:0;
    font-size: 11px;
    color: #3c8ae4;
    text-align: center;
}
#award-top {
    height: 165px;
}
#award-title {
    color: #3c8ae4;
    font-size: 14px;
}
#award-name {
    margin: 5px 0;
    font-size: 20px;
    font-weight: bold;
    color: #FFF;
    line-height: 24px;
    
}
#award-img {
    width: 100px;
    margin: 0 auto;
    height: 100px;
    border-radius: 20px 0 20px 0;
    box-shadow: 2px 2px 0 rgba(0,0,0,0.5);
    overflow: hidden;
    float: left;
    margin-right: 15px;
    margin-top:25px;
    background-color: #FFF;
}
#award-img img {
    max-height: 100%;
}
.award-small {
    font-size: 12px;
}
#award-address {
    border-top:1px dashed #3c8ae4;
    padding: 5px;
    margin:-10px 0 10px;
    display: none;
}
#award-info {
    float: left;
    width: 120px;
    margin-top: 25px;
    text-align: left;
}
#weiboLogin {
    margin: 1em auto;
    text-align: center;
    cursor: pointer;
}
#wechatLogin {
    width: 239px;
    height: 48px;
    margin: 1em auto;
    cursor: pointer;
}
#wechatLogin .btn-inner {
    height: 100%;
    font-size: 24px;
    text-align: center;
    line-height: 48px;
}
#user {
    position: absolute;
    left: 40px;
    top:-45px;
}
#ruleLeft,#ruleRight {
    position: absolute;
    color: #FFF;
    font-size: 10px;
    bottom: 6px;
    padding-top: 40px;
    cursor: pointer;
    width: 50%;
    
}
#ruleLeft:hover,#ruleRight:hover,#ruleLeft:active,#ruleRight:active {
    color: #ffd800;
}
#ruleLeft {
    right: 50%;
    margin-right: 20px;
    text-align: right;
}
#ruleRight {
    left: 50%;
    margin-left: 20px;
}
#user-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border:1px solid #221714;
    overflow: hidden;
    box-shadow: 2px 2px 0 rgba(0,0,0,0.5);
    padding: 2px;
    background-color: #fff;
    position: relative;
}
#user-avatar img {
    border-radius: 50%;
}

.form-control {
display: block;
width: 80%;
height: 28px;
padding: 6px 12px;
margin: 0 auto;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
textarea.form-control {
    height: auto;
}
#award-action {
    position: absolute;
    bottom: -25px;
    width: 100%;
    display: none;
}
.lottoHistory-avatar {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    float: left;
    overflow: hidden;
    border:2px solid #1a2b4d;
    margin-right: 10px;
    margin-left: -10px;
}
#lottoHistory {
    padding: 80px 0 80px;
}
.lottoHistory-user {
    width: 90%;
    height: 46px;
    border-radius: 20px 20px 0 0;
    background-color: #1a2b4d;
    margin: 0 auto;
    color: #fff;
    font-size: 12px;
    line-height: 16px;
    position: relative;
    border-bottom: 1px dashed #3c8ae4;
    box-shadow: 2px 0 0 rgba(0,0,0,0.5);
}
.username {
    color: #ffd800;
    font-size: 16px;
    line-height: 25px;
    position: relative;
    top:3px;
    
}
.lottoLogo {
    position: absolute;
    right: -10px;
    bottom: 0px;
    width: 90px;
}
#lotto-records,.lotto-record {
    padding: 0;
    margin: 0;
    list-style: none;
}
.lotto-record {
    border-bottom: 1px dashed #3c8ae4;
    padding: 15px 10px;
}
.lotto-warning {
    line-height: 16px;
    font-size: 12px;
    color: #FFF;
    padding: 15px 10px;
}
#lotto-records {
    background-color: #1a2b4d;
    width: 90%;
    margin: 0 auto;
    box-shadow: 2px 0 0 rgba(0,0,0,0.5);
}
#btnWinningBack {
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    font-size: 32px;
}
.winning-time {
    font-size: 10px;
    color: #3c8ae4;
}
.winning-name {
    font-size: 14px;
    line-height: 22px;
    color: #FFF;
}
.winning-name small{
    font-size: 10px;
}
.winning-address {
    font-size: 12px;
    line-height: 16px;
    color: #3c8ae4;
}
.lotto-warning a,.lotto-warning em{
    color: #3c8ae4;
    font-style: normal;
}
.disabled .gameButton-tag {
    background: #999;
}
.gameButton-comingSoon {
    font-size: 10px;
    line-height: 12px;
    text-align: center;
}
#userCoupon {
    position: absolute;
    left: 0px;
    top:52px;
    line-height: 20px;
    font-size: 8px;
    width: 80px;
    overflow: hidden;
    text-align: center;
}
#userCoupon .lotto-pointsCount {
    font-size: 10px;
    background-size: 16px 16px;
    padding-left: 16px;
}
#userRank {
    position: absolute;
    left: 33px;
    top:22px;
    font-size: 8px;
    color: #fff;
}
#userRank .rank {
    font-size: 10px;
    color: #ffd800;
}
#userAward {
    position: absolute;
    right: 5px;
    top:35px;
    padding: 0 5px;
    height: 18px;
    overflow: hidden;
    font-size: 12px;
    color: #FFF;
    background-color: #c01f2e;
    border:1px solid #221417;
    border-radius: 50%;
    line-height: 18px;
    text-align: center;
}
#gameHelp {
    width: 100%;
    height: 100%;
    position: absolute;
    position: fixed;
    background: rgba(0,0,0,0.8);
    text-align: center;
    left: 0;
    top: 0;
    overflow-y: scroll;
}
#gameHelp img {
    width: 150px;
    margin: 10px auto 0;
}
.game-help-text {
    width: 80%;
    color: #FFF;
    font-size: 12px;
    line-height: 18px;
    position: absolute;
    left: 10%;
    top:120px;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
}
#gameStart {
    font-size: 18px;
    display: none;
}
#gameOver {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}
#gameOverTop {
    width: 100px;
    margin: 0 auto;
    padding-bottom: 10px;
}




#shareOverlay {
    position: absolute;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    text-align: center;
    color: #FFF;
    background: rgba(0,0,0,0.8);
    display: none;
}
#shareOverlay-arrow {
    padding-right: 30px;
    text-align: right;
}
#shareOverlay-arrow img {
    width: 75px;
}
#noCoupon {
    text-align: center;
    color: #FFF;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    position: absolute;
    top:200px;
    left: 0;
}
.yellow {
    color: #ffd800!important;
}
.blue {
    color: #3c8ae4!important;
}
.highlight {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
#error,#confirm {
    position: absolute;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    display: none;
    z-index: 99;
}
#errorDialog,#confirmDialog {
    width: 240px;
    position:absolute;
    left: 50%;
    margin-left: -130px;
    background: #FFF;
    top: 30%;
    padding-bottom: 10px;
    border-radius:20px 2px 20px 2px;
}
#errorContent,#confirmContent {
    padding: 15px 10px;
    font-size: 14px;
    line-height: 18px;
}
#errorTitle,#confirmTitle {
    background: #004993;
    border-radius: 15px 2px 0 0;
    color: #FFF;
    padding:10px;
}
#errorAction,#confirmAction {
    text-align: center;
}
#ruleButton {
    height: 45px;
    margin-bottom: 1.5em;
}
#ruleButton .gameButton-img{
    width: 150px;
    margin-left: -75px;
    top: 5px;
}
#ruleImgLeft,#ruleImgRight {
    position: absolute;
}
#ruleImgRight {
    width: 45px;
    right: -5px;
    top: -35px;
}
#ruleImgLeft {
    width: 40px;
    left: 5px;
    top: -15px;
}
#ruleLinkLeft,#ruleLinkRight {
    position: absolute;
    font-size: 10px;
    color: #c07410;

    width: 30px;
    height: 30px;
    overflow: hidden;
    background:url(../../app/img/beltarrow.png) no-repeat left top;
    background-size: 30px 60px;
    line-height: 35px;
    
    text-align: center;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
    
}

#ruleLinkLeft {
    left: -15px;
    bottom: 0px;
}
#ruleLinkRight {
    right: -15px;
    bottom: 0px;
    background-position: right bottom;
    
}
#gameOverTop {
    width: 180px;
    height: 180px;
    position: relative;
}
#gameOverBelt {
    width: 231px;
    height: 100px;
    margin: 0 auto;
    background: url(../../app/img/gameoverbelt.png) no-repeat center center;
    background-size: 231px 100px;
    text-align: center;
    top:-35px;
    position: relative;
    color: #FFF;
}
#gameOverBg {
    background: url(../../app/img/gameoverbg.png) no-repeat center center;
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    margin-left:-150px;
    top: -20px;
}
#gameOverScore {
    font-size: 34px;
    font-weight: bold;
    text-shadow: 2px 2px 0 rgba(0,0,0,0.5);
    padding-top: 15px;
    line-height: 36px;
    height: 36px;
}
#gameOverScore small {
    font-size: 10px;
    text-shadow: none;
    position: relative;
    top: -12px;
    right: -2px;
}
#gameOverRanking {
    font-size: 10px;
}
#gameOverWhistle {
    width: 100%;
    height: 10px;
    border-bottom:25px solid #ffd800;
    border-top:15px solid #dfab27;
    background: #c17510;
    position: absolute;
    left: 0;
    top:40%;
    text-align: center;
    z-index: 11;
}

#gameOverWhistle img {
    width: 110px;
    height: 102px;
    position: relative;
    top:-60px;
}
#gameOver-coupon {
    text-align: center;
    color: #FFF;
    margin-top:-45px;
}
#game-score {
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    width: 100%;
    color: #fff;
    position: absolute;
    top: 65px;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
    font-weight: bold;
}
#game-scoreTitle {
    font-size: 10px;
    text-align: center;
    width: 100%;
    color: #fff;
    position: absolute;
    top: 55px;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
}
#game-logo {
    position: absolute;
    left: 50%;
    top:20px;
    width: 55px;
    margin-left:-35px;
    
}
#game-home,#game-share {
    color: rgba(14,68,0,0.8);
    text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
    float: left;
}
#game-share {
    float: right;
}
#game-pause {
    float: right;
}
#game-coupon {
    color: #FFF;
    text-shadow: 1px 1px 0 rgba(0,0,0,.3);
    position: absolute;
    right: 2%;
    top:30px;
    font-weight: bold;
    padding-top: 24px;
    background:url(../../app/img/score-icon.png) center top no-repeat;
    background-size: 24px 24px;
    font-size: 18px;
    text-align: center;
    min-width: 26px;
}
#ruleButton {
    
    border:1px solid #221417;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    margin: 0.5em auto 1.5em;
    position: relative;
    
    background: -webkit-linear-gradient(#405c96 40%, #1a2b4d 40%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#405c96 40%, #1a2b4d 40%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#405c96 40%, #1a2b4d 40%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#405c96 40%, #1a2b4d 40%); /* Standard syntax */
    background-color: #0454b7;
    box-shadow: 2px 2px 0 rgba(0,0,0,0.5);
}
#shareOk {
    display: none;
}
.newRecord {
position: absolute;
left: 50%;
background-color: #c01f2e;
-webkit-border-radius: 50%;
border-radius: 50%;
width: 40px;
height: 40px;
color: #FFF;
text-align: center;
font-size: 10px;
line-height: 40px;
box-shadow: 2px 2px 0 rgba(0,0,0,0.5);
-webkit-transform: rotate(15deg);
display: none;
}
#game-newRecord {
top: 30px;
margin-left: 25px;
}
#gameOver-newRecord {
    top: 0;
    margin-left:-80px;
    -webkit-transform: rotate(-15deg);
}
.red {
color: #c01f2e;    
}
#ruleMain {
max-width: 640px;
width: 80%;
background: #FFF;
padding: 5%;
border-radius: 20px;
position: relative;
top: -20px;
box-shadow: 2px 2px 0 rgba(0,0,0,0.5);
font-size: 12px;
margin-bottom: 60px;
}
#ruleMain li {
    margin-bottom: 5px;
}
#ruleMain dt {
    color: #1a2b4d;
}
#ruleMain dd {
    margin-left: 0px;
    line-height: 18px;
}
#ruleMain ol,#ruleMain ul {
    padding-left: 30px;
}
#ruleMain a {
    color: #3c8ae4;
    text-decoration: none;
}
#ruleBackHome {
    position: relative;
    top: -100px;
}
.sideLine {
        display: none;
}
#gameOverDialog {
position: absolute;
background: #FFd800;
z-index: 1;
padding: 5px 10px;
border-radius: 10px;
left: 0;
top: 110px;
font-size: 12px;
border:2px solid #221417;
box-shadow: 2px 2px 0 rgba(0,0,0,0.5);
border-radius: 10px;
display: none;
}

.icon-loading {
    width: 50px;
    height: 50px;
    background:url(../../app/img/loading.png) no-repeat center center;
    background-size: 50px 50px;
    margin: 0 auto;
}
.icon {
    width: 18px;
    height: 18px;
    vertical-align: middle;
    display: inline-block;
    line-height: 18px;
    position: relative;
    top: -1px;
    
}
.icon-share {
    background:url(../../app/img/icon-share.png) no-repeat center center;
    background-size: 100% 100%;
}
.icon-refresh {
    background:url(../../app/img/icon-refresh.png) no-repeat center center;
    background-size: 100% 100%;
}
.topCaret {
    width: 0px;
    height: 0;
    line-height: 0;
    font-size: 1;
    border-top:10px solid #1a2b4d;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    top: -8px;
    left: 50%;
    margin-left: -10px;
    display: none;
}
.bottomCaret {
    width: 0px;
    height: 0;
    line-height: 0;
    font-size: 1;
    border-bottom:10px solid #000;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    bottom: -8px;
    left: 50%;
    margin-left: -10px;
    display: none;
}
.current .bottomCaret {
    display: block;
}
#cr-stage {
    color: #205a08;
    text-align: center;
}
#game-dialog {
    border:1px solid #221417;
    background:#ffd800;
    box-shadow: 2px 2px 0 rgba(0,0,0,0.5);
    width: 120px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -70px;
    font-size: 10px;
    line-height: 12px;
    color: #221417;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    display: none;
}
#supportOverlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #333;
    left: 0;
    top: 0;
    color: #FFF;
}
#supportTitle {
    font-size: 14px;
    padding-bottom: 10px;
}
#supportContainer {
    width: 80%;
    max-width: 540px;
    margin: 0 auto;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    padding-top:30px;
}
#supportContainer p {
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
}
#supportContainer a {
    color: #ff0;
    padding: 0 10px;
}
#supportContainer .em {
    font-size:16px;
    line-height: 18px;
    padding-top: 10px;
    font-weight: bold;
}
@media only screen and (min-width: 340px) {
    .sideLine {
        position: fixed;
        height: 100%;
        width: 1px;
        
        left: 50%;
        top: 0;
        display: block;
    }
    #game-lineLeft {
        margin-left: -160px;
        border-left:2px dashed rgba(255,255,255,0.3);
    }
    #game-lineRight {
        margin-left: 160px;
        border-right:2px dashed rgba(255,255,255,0.3);
    }
}
@media only screen and (min-width: 750px){
    /* Style adjustments for viewports that meet the condition */
    body {
        min-height: 100%;
        height: auto;
        width: 100%;
        overflow-x: hidden;
    }
    #header {
        background-size: 100% 100%;
        background-position: center center;
        height: 220px; 
    }
    #logo {
        width: 320px;
        top:-30px;
    }
    #plane {
        width: 160px;
        right: 0;
        top:-120px;
    }
    #rule {
        width: 230px;
        top:-55px;
        left: 2%;
    }
    #belt {
        width: 320px;
        margin-left: -160px;
        top:-40px;
    }
    .icon {
        width: 36px;
        height: 36px;
        top: -2px;
    }
    #gameNavigation {
        padding-top:40px;
    }

    .gameButton {
        height: 100px;
        margin: 1.8em auto;
        border-radius: 50px 2px 50px 2px;
    }
    #ruleButton {
        margin-bottom: 2.5em;
        height: 60px;
    }
    #ruleButton .gameButton-img {
        width: 280px;
        margin-left: -140px;
    }
    #ruleLeft, #ruleRight {
        font-size: 14px;
        bottom: 3px;
    }
    #ruleLeft {
        margin-right: 55px;
    }
    #ruleRight {
        margin-left: 55px;
    }
    #ruleImgLeft {
        width: 90px;
        top: -40px;
        left: 20px;
    }
    #ruleImgRight {
        width: 74px;
        top:-50px;
        right: 20px;
    }
    #gameButton-dribble .gameButton-img {
        width: 300px;
        margin-left: -120px;
    }
    #gameButton-pass .gameButton-img {
        width: 140px;
        margin-left: -70px;
        bottom: 15px;
    }
    #gameButton-shoot .gameButton-img {
        width: 320px;
        margin-left: -160px;
        bottom: 15px;
    }
    #gameButton-passLeft, #gameButton-passRight {
        width: 140px;
    }
    #share {
        padding-bottom: 10px;
        width: 80px;
        height: 80px;
        background-size: 80px 80px;
    }
    #share img {
        width: 30px;
        right: -3px;
    }
    #shareText {
        font-size: 12px;
        line-height: 18px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .gameButton-tag {
        width: 80px;
        height: 75px;
        border-radius: 0 0 40px 2px;
    }
    .gameButton-small {
        font-size: 12px;
        line-height: 16px;
        height: 16px;
        padding-top: 8px;
    }
    .gameButton-large {
        font-size: 26px;
        line-height: 40px;
        height: 40px;
    }
    #showTops {
        width: 140px;
        height: 95px;
    }

    body {
        background-size:80px 150px;
    }
    #gameNavigation {
    height: 500px;
    }
    #leaderboard {
    height: 95px;
    }
    .leaderboard-item.first .icon-crown,.leaderboard-item.second .icon-crown,.leaderboard-item.third .icon-crown {
        right: 12px;
        top:-2px;
    }
    #lotto {
        width: 750px;
        left: 50%;
        margin-left:-375px;
    }
    #lottoLogo {
    width: 240px;
    height: 223px;
    margin: 0 auto;
    }
#lottoActions {
    padding: 15px 0;
}
.btn-blue {
    padding: 5px;
}

.btn-inline {
    width: 180px;
    display: inline-block;
    margin-right: 10px;
}
.btn-inline:last-child {
    margin-right: 0;
}
.btn-inner {
    font-size: 24px;
    text-shadow: 2px 2px 0 rgba(0,0,0,0.5);
}
.btn-notification {

    right: -18px;
    top:-18px;
    padding: 0 10px;
    font-size: 18px;
    display: block;
    height: 30px;
    line-height: 30px;
    
}
.backhome {
    width: 70px;
    height: 50px;
    line-height: 50px;
    background-size: 180px 50px;
    padding-left: 20px;
    font-size: 14px;
    z-index: 99;
    
}
.backhome .fa-lg {
    font-size: 2em;
    line-height: 50px;
}
#lotto-info {
    height: 36px;
    line-height: 36px;
    width: 340px;
    font-size: 16px;
}
#card {
    width: 508px;
    height: 340px;
    margin-left: -254px;
    top:310px;
}
#envelope-back {
    width: 500px;
    height: 328px;
}
#envelope-front {
    width: 508px;
    height: 340px;
    background-size: 100% 100%;
}
#envelope-cover {
    width: 508px;
    height: 256px;
    background-size: 100% 100%;
}
#envelope-sealing {
    width: 120px;
    height: 120px;
    padding: 10px;
    margin-left: -72px;
    top:120px;
    border-width: 2px;
}
#envelope-sealingInner {
    width: 112px;
    height: 112px;
    border-width: 4px;
}
#envelope-title {
    line-height: 112px;
    font-size: 36px;
}
#envelope-arrow {
    width: 60px;
    height: 60px;
    top:26px;
    margin-left: -30px;
}
#envelope-arrowCaret {
    border-top-width: 40px;
    border-left-width: 50px;
    border-right-width: 50px;
    left:-20px;
    bottom:-24px;
}
#envelope-arrowPoints {
    background-size: 36px 36px;
    padding-top:32px;
    line-height: 32px;
    height: 32px;
    font-size: 20px;
}
#lottoAward {
    margin-top:410px;
}
#lottoAward .gameButton {
    width: 520px;
}
#lottoAwardTitle {
    width: 144px;
    height: 38px;
    margin-left: -72px;
    top:-30px;
}
.lottoAward-item {
    width: 25%;
}
#lottoAwardList {
    padding: 20px 0 0;
}
.lottoAward-name {
    font-size: 12px;
}
#user {
    top: -70px;
    left: 50px;
}
#user-avatar {
    width: 50px;
    height: 50px;
}
#user-name {
    
}
#envelope-content {
    width: 504px;
    position: absolute;
    border-radius: 40px 15px 15px 15px;
    font-size: 14px;
    margin-bottom: 40px;

}
#ruleLinkRight, #ruleLinkLeft {
    width: 60px;
    height: 60px;
    background-size: 60px 120px;
    line-height: 80px;
}
#ruleLinkLeft {
    left: -30px;
}
#ruleLinkRight {
    right: -30px;
}
#ruleLinkRight .fa, #ruleLinkLeft .fa {
    font-size: 3em;
}
#award-img {
    width: 150px;
    height: 150px;
    margin-right: 25px;
}
#award-top {
    height: 200px;
}
#award-info {
    width: 300px;
}
#award-title {
    font-size: 20px;
}
#award-name {
    font-size: 32px;
    line-height: 36px;
    margin: 10px 0;
}
.opencard #envelope-content {
  -webkit-animation: cardslidein2 1s ; /* Safari 4+ */
  animation:cardslidein2 1s ; /* IE 10+ */
  animation-fill-mode:both;
  -webkit-animation-fill-mode:both; /* Safari and Chrome */
  animation-delay: 1s;
  -webkit-animation-delay: 1s; 
}
#lottoHistory {
    padding-top: 50px;
}
.lottoLogo {
    width: 140px;
    right: -30px;
    bottom: -40px;
}
.winning-time {
    font-size: 14px;
    line-height: 18px;
}
.winning-name {
    font-size: 18px;
    line-height: 26px;
}
.winning-address {
    font-size: 14px;
    line-height: 18px;
}
.lotto-record {
    padding: 20px 15px;
}
.gameButton-comingSoon {
    font-size: 16px;
    line-height: 18px;
    padding: 15px 0 0;
}

#userAward {
    font-size: 18px;
    line-height: 28px;
    height: 28px;
    top:75px;
    right: 25px;
    padding: 0 8px;
}
#gameHelp img {
    width: 230px;
}
.btn-block {
    max-width: 480px;
    border-radius: 22px 2px;
    margin-bottom: 20px;
}
.btn-block .btn-inner {
    border-radius: 18px 2px;
}
.gameHelp-text {
    top: 220px;
    font-size: 16px;
    line-height: 24px;
}
.btn-block .btn-inner {
    height: 45px;
    line-height: 45px;
}
#game-topBar {
    width: 700px;
    left: 50%;
    margin-left:-350px;
}
#userRank {
    left: 60px;
    top:46px;
    font-size: 16px;
}
#userCoupon {
    top: 115px;
    font-size: 16px;
    width: 160px;
}
#instruction {
    top:170px;
    width: 200px;
    font-size: 16px;
    padding: 5px 10px;
    margin-left: -112px;
    border-width: 2px;
    cursor: pointer;
}
#instruction:hover {
    background-color: #ffd800;
    color: #221714;
}
#userRank .rank {
    font-size: 20px;
}
#userRank {
    line-height: 24px;
}
#userCoupon {
    line-height: 24px;
}
#plane:hover #userCoupon {
    color: #0454b7;
}
#plane:hover #userAward {
    background: #0454b7;
}
#userCoupon .lotto-pointsCount {
    font-size: 20px;
}
#userRank:hover {
    color: #ffd800;
}
#share .caret {
    border-top-width: 90px;
    border-left-width: 90px;
}
#share .share-icon {
    top: 18px;
    right: 15px;
}
.gameButton:hover {
    background-color: #ffd800;
}
.gameButton.disabled:hover {
    background: #d4d4d4;
}
#copyright {
    height: 29px;
    bottom: 20px;
    right: 25px;
}
#exitLink {
    position: absolute;
    color: #fff;
    text-align: right;
    border-radius: 10px;
    border:1px solid #221417;
    background: #c01f2e;
    left: 20px;
    line-height: 15px;
    height: 15px;
    padding: 5px 8px;
    font-size: 14px;
    top: 22px;
    display: block;
}
#exitLink:hover {
    color: #ffd800;
}

#game-replay {
    width: 60px;
    height: 60px;
    background-size: 150px 60px;
    margin-bottom: 15px;
}
#game-leaderboard {
    width: 60px;
    height: 75px;
    background-size: 180px 75px;
}



.bar {
    height: 50px;
    border-radius: 30px 2px 30px 2px;
}
#game-topBar-score, #game-topBar-high, #game-topBar-coupon {
    height: 45px;
    line-height: 50px;
    font-size: 24px;
    background-position: left center;
    padding-right: 1%;
    background-size: 30px 30px;
    padding-left: 32px;
}
#game-topBar-score {
    left: 20%;
}
#game-topBar #game-topBar-Logo {
    width: 100px;
    left: -25px;
    top: -2px;
}
.bar-inner {
    border-radius: 28px 2px 28px 2px;
}

#award-action {
    bottom: -25px;
}
#gameOverTop {
    width: 300px;
    height: 300px;
}
#gameOverBelt {
    width: 462px;
    height: 200px;
    background-size: 462px 200px;
    top:-80px;
}
#gameOverBg {
    width: 400px;
    height: 400px;
    background-size: 100% 100%;
    margin-left: -200px;
    top:0;
}
#gameOverScore {
    font-size: 72px;
    height: 80px;
    line-height: 72px;
    padding-top: 30px;
}
#gameOverScore small {
    font-size: 14px;
    top:-30px;
}
#gameOverRanking {
    font-size: 14px;
}
#game-score {
    font-size: 72px;
}
#game-logo  {
    width: 110px;
    margin-left: -70px;
}
#game-scoreTitle {
    top: 80px;
    font-size: 16px;
}
#game-score {
    top: 105px;
    font-size: 72px;
}
#game-coupon {
    width: 36px;
    font-size: 24px;
    min-width: 40px;
}
#gameOver-coupon {
    font-size: 18px;
    margin-top:-80px;
}
#noCoupon {
    top:320px;
}
#errorDialog, #confirmDialog {
    width: 540px;
    margin-left: -270px;
}
#errorContent, #confirmContent {
    font-size: 16px;
    line-height: 24px;
}
.gameButton-innner {
    border-radius: 48px 2px;
}
.newRecord {

width: 60px;
height: 60px;
font-size: 14px;
line-height: 60px;
box-shadow: 2px 2px 0 rgba(0,0,0,0.5);
-webkit-transform: rotate(15deg);
display: none;
}
#game-newRecord {
top: 40px;
margin-left: 50px;
}
#gameOver-newRecord {
    top: 0;
    margin-left:-100px;
    -webkit-transform: rotate(-15deg);
}
#ruleConner {
    width: 80px;
    height: 90px;
    background-size: 80px 90px;
    position: fixed;
}
#ruleConner .share-icon {
    left: 11px;
    top: 43px;
}
#ruleMain {
    font-size: 14px;
    
    padding: 20px;
}
#ruleMain dt {
    font-size: 16px;
}
#ruleMain dl {
    line-height: 20px;
}
#ruleMain li {
    margin-bottom: 10px;
}
#ruleMain ol, #ruleMain ul {
    padding-left: 60px;
}
#slogen {
    top:160px;
    font-size: 14px;
}
#gameOverDialog {
    top: 200px;
    font-size: 16px;
    padding: 8px 15px;
}
.game-help-text {
    top: 220px;
    font-size: 16px;
}
.leaderboardPrize {
    width: 120px;
    top: -40px;
}
#leaderboardPrize-shirt {
    top: -70px;
}
.dancePrize img{
    padding-top: 10px;
}
}