                <div id="award-title">
                    恭喜你，中奖了！
                </div>
                <div id="award-name">
                    海飞洗发水一套
                </div>
                <div id="award-img">
                    <img src="app/img/award3.jpg" />
                </div>
                <p>请填写你的收货地址，否则奖品就寄不到了哦！</p>
                <p><input class="text" placeholder="姓名" /></p>
                <p><input class="text" placeholder="联系电话" /></p>
                <p><textarea  placeholder="邮寄地址"></textarea></p>