        {{#isWon}}
        <div class="clearfix" id="award-top">
            <div id="award-img">
                    <img src="app/img/{{prizeImageUrl}}" />
            </div>
            <div id="award-info">
                <div id="award-title">
                        恭喜! 你抽到的是...
                </div>
                <div id="award-name">
                    {{prizeName}}
                </div>
                <div id="award-desc">
                    {{#isVirtualPrize}}
                    你的总积分已上升到<em> {{accumulatePoints}} </em>!<br />
                    {{/isVirtualPrize}}
                    {{prizeDescription}}
                </div>
            </div>
        </div> 
        {{^isVirtualPrize}}
        <div id="award-address">
                <p>请填写你的收货地址，否则奖品就寄不到了哦！</p>
                <p><input id="shipTo" class="form-control" type="text" placeholder="姓名" /></p>
                <p><input id="phone" class="form-control" type="text"  placeholder="联系电话" /></p>
                <p><textarea id="shippingAddress" class="form-control" rows="3" placeholder="邮寄地址"></textarea></p>
        </div>
        {{/isVirtualPrize}}
        <div id="award-action" class="clearfix">
            <div id="btnAwardOK" class="btn btn-blue btn-inline">
                <div class="btn-inner">
                    欢乐的确定
                </div>
            </div>
            <div class="btn btn-red  btn-inline share"  data-pic="app/img/{{prizeImageUrl}}">
                <div class="btn-inner">
                     <i class="fa fa-share-square-o"></i> 分享
                </div>
            </div>
        </div>
        {{/isWon}}
        
        {{^isWon}}
        <div class="clearfix" id="award-top">
            <div id="award-img" class="dancePrize">
                {{#isRabbitDance}}
                    <img src="app/img/rabbitdance.gif" />
                 {{/isRabbitDance}}
                 {{#isSushiDance}}
                    <img src="app/img/sushidance.gif" />
                 {{/isSushiDance}}
                 {{#isMessiDance}}
                    <img src="app/img/messidance.gif" />
                 {{/isMessiDance}}
            </div>
            <div id="award-info">
                <div id="award-title">
                        你抽到的是...
                </div>
                <div id="award-name">
                    无限安慰奖
                </div>
                <div id="award-desc">
                {{#isRabbitDance}}
                   让兔兔为你跳支舞吧，下次加油哦！~\(≧▽≦)/~
                 {{/isRabbitDance}}
                 {{#isSushiDance}}
                   让路人为你跳支舞吧，动次打次动次打次...
                 {{/isSushiDance}}
                 {{#isMessiDance}}
                    让梅西为你跳支舞吧，不要放弃哦！(ง •̀_•́)ง
                 {{/isMessiDance}}
                    
                </div>
            </div>
        </div>
        <div id="award-action" class="clearfix">
            <div id="btnAwardOK" class="btn btn-blue btn-inline">
                <div class="btn-inner">
                    再试一次
                </div>
            </div>
             <div class="btn btn-red btn-inline share" data-pic="app/img/award0.jpg">
                <div class="btn-inner">
                    <i class="fa fa-share-square-o"></i>求手气
                </div>
            </div>
            
        </div>
        {{/isWon}}
        
