<div id="game">
<div id="gameStage">
<div id="cr-stage"></div>
<!--
<div id="game-topBar" class="container bar bar-blue">
    <div class="bar-inner clearfix">
    <div id="game-topBar-Logo"><img src="app/img/gamelogo.png" /></div>
    <div id="game-topBar-score">{{score}}</div>
    <div id="game-topBar-high">{{highestScore}}</div>
    <div id="game-topBar-coupon">{{coupon}}</div>
    </div>
</div>-->
<div id="gameStatus">
    <div id="game-logo"><img src="app/img/gamelogo.png" /></div>
    <div id="game-scoreTitle">本轮成绩</div>
    <div id="game-score">{{score}}</div>
    <div id="game-coupon">{{coupon}}</div>
</div>
<div id="game-actionBar">
    <div id="game-home">
        <i class="fa fa-home fa-2x"></i>
    </div>
</div>
</div><!-- gameStage -->
<div id="gameHelp">
    <img src="app/img/help-1.png" />
    <div class="game-help-text">
        左右移动梅西，过掉路障和防守球员。<br />接到海飞丝可以拿到抽奖奖券哦！
    </div>
    <div id="gameStart" class="btn btn-blue btn-block">
        <div class="btn-inner">
                    开始游戏
        </div>
    </div>

</div><!-- gameHelp -->
<div id="gameOverWhistle" data-entranceAnimation="lightSpeedIn highlight">
    <img src="app/img/gameover.png" />
</div><!-- gameOverWhistle -->
<div id="gameOver">
</div><!-- gameOver -->
<div id="gameBackHome"  class="backhome">
        <img src="app/img/lottoback.png" />
</div>
</div><!-- game -->