        <div id="gameOverBelt">
            <div id="gameOverScore">
                {{score}}<small>分</small>
            </div>
            <div id="gameOverRanking">
                实力总排名：{{gameRanking}}
            </div>
        </div>



        
        <div id="gameOver-share" class="btn btn-yellow btn-block share">
            <div class="btn-inner">
                    <i class="fa fa-share-square-o"></i> 晒成绩 得奖券
            </div>
        </div>
        <div id="gameOver-replay" class="btn btn-blue btn-block">
            <div class="btn-inner">
                    <i class="fa fa-refresh"></i> 重玩
            </div>
        </div>