<div id="game">
<div id="gameStage">
<div id="cr-stage"></div>
<div id="game-topBar" class="container bar bar-blue">
    <div class="bar-inner clearfix">
    <div id="game-topBar-Logo"><img src="app/img/gamelogo.png" /></div>
    <div id="game-topBar-score">5</div>
    <div id="game-topBar-high">5</div>
    <div id="game-topBar-coupon">16</div>
    </div>
</div>

<div id="game-actionBar"></div>
</div><!-- gameStage -->
<div id="gameHelp">
    <img src="app/img/help-1.png" />
    <div class="game-help-text">
        左右移动梅西，过掉路障和防守球员。<br />接到海飞丝可以拿到抽奖奖券哦！
    </div>
    <div id="gameStart" class="btn btn-blue btn-block">
        <div class="btn-inner">
                    开始游戏

        </div>
    </div>

</div><!-- gameHelp -->
<div id="gameOver">
    <div class="container">
        <div id="gameOverTop">
            <img src="app/img/gameover.png" />
        </div>
        <div id="gameOverContent">

        </div><!-- gameOverContent -->

    </div><!-- container -->
</div><!-- gameOver -->
<div id="gameBackHome"  class="backhome">
        <img src="app/img/lottoback.png" />
</div>
</div><!-- game -->