<div id="login">
    <a id="weiboLogin" href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx98d5949213c73fa2&redirect_uri=http%3a%2f%2fquiz.seemeloo.com%2ffootballgameservice%2ffootballgameservice%2fusers%2fwechat%2f&response_type=code&scope=snsapi_userinfo&state=STATE#wechat_redirect">
        <img src="app/img/weibologin.png" />
    </a>
    
    <div id="wechatLogin" class="btn btn-blue">
                <div class="btn-inner">
                    微信登陆
                </div>
    </div>
</div>