<div class="container" id="lotto" data-entranceAnimation="slideInRight" data-exitAnimation="slideOutRight">
       <div id="lottoLogo">
       <img src="app/img/lottologo.png" />
       </div>
        <div id="lotto-info">
            {{name}}，总积分：<span class="lotto-pointsCount">{{accumulatePoints}}</span>
        </div>
       <div id="lottoActions" class="clearfix">
            <div id="btnLottoRule" class="btn btn-blue btn-inline">
                <div class="btn-inner">
                    规则说明
                </div>
            </div>
            <div id="btnLottoHistory" class="btn btn-blue  btn-inline">
                <div class="btn-inner">
                    中奖记录
                    {{#winningRecordsCount}}
                    <span class="btn-notification">{{winningRecordsCount}}</span>
                    {{/winningRecordsCount}}
                </div>
            </div>
       </div>
       
       <div id="card">
        <div id="envelope-content">

        </div>
        <div id="envelope-back"></div>
        <div id="envelope-front"></div>
        <div id="envelope-cover"></div>
        <div id="envelope-sealing">
            <div id="envelope-sealingInner">
                <div id="envelope-title">抽我</div>
            </div>
        </div>
        <div id="envelope-arrow" class="float">
            <div id="envelope-arrowCaret"></div>
            <div id="envelope-arrowPoints">30</div>
        </div>
       </div>
       
       <div id="lottoAward">
        <div class="gameButton" >
            <div class="gameButton-innner">
                <div id="lottoAwardTitle">
                    <img src="app/img/lottoawardtitle.png" />
                </div>
                <ul id="lottoAwardList" class="clearfix">
                    <li class="lottoAward-item">
                        <img class="lottoAward-img" src="app/img/award1.jpg" />
                        <p class="lottoAward-name">海飞丝洗护套装</p>
                    </li>
                    <li class="lottoAward-item">
                        <img class="lottoAward-img" src="app/img/award2.jpg" />
                        <p class="lottoAward-name">梅西签名球衣</p>
                    </li>
                    <li class="lottoAward-item">
                        <img class="lottoAward-img" src="app/img/award3.jpg" />
                        <p class="lottoAward-name">积分</p>
                    </li>
                    <li class="lottoAward-item">
                        <img class="lottoAward-img" src="app/img/award4.jpg" />
                        <p class="lottoAward-name">神秘礼品</p>
                    </li>
                </ul>
            </div>
        </div>
       </div>
</div><!--/container-->
<div id="lottoBackHome">
    <img src="app/img/lottoback.png" />
</div>