<div class="container" id="lottoHistory" data-entranceAnimation="slideInRight" data-exitAnimation="slideOutRight">
       
       <div class="clearfix lottoHistory-user">
            <div class="lottoHistory-avatar">
                <img src="{{headImageUrl}}" />
            </div>
            <div class="lottoHistory-name">
                <span class="username">{{userName}}</span><br />您有{{numOfPrizes}}条中奖记录
            </div>
            <div class="lottoLogo">
               <img src="app/img/lottologo.png" />
            </div>
       </div>
        
        <ul id="lotto-records">
            {{#records}}
                <li class="lotto-record">
                    <div class="winning-time">{{createdAt}}</div>
                    <div class="winning-name">{{prizeName}}</div>
                    {{#shipTo}}<div class="winning-address">{{shipTo}} - {{phone}} - {{shippingAddress}}</div>{{/shipTo}}
                </li>
            {{/records}}
            <li class="lotto-warning">
                实物奖品会自动发出，如果地址填写有误，务必在中奖后24小时内联系小海修改哦。<br />
                微信公众号：<em>海飞丝</em><br />
                新浪微博：  @海飞丝实力派<br />
                
            </li>
        </ul>
       <div class="clearfix">

            <div id="btnWinningBack" class="btn btn-blue">
                <div class="btn-inner">
                    继续抽奖
                </div>
            </div>
       </div>

</div><!--/container-->
<div id="winningBackHome"  class="backhome">
    首页
</div>