<div class="container" id="lotto" data-entranceAnimation="slideInRight" data-exitAnimation="slideOutRight">
       <div id="lottoLogo">
       <img src="app/img/lottologo.png" />
       </div>
        
       <div id="lottoActions" class="clearfix">
            
            <div id="btnLottoHistory" class="btn btn-blue  btn-inline">
                <div class="btn-inner">
                    中奖历史
                    {{#numOfPrizes}}
                    <span class="btn-notification">{{numOfPrizes}}</span>
                    {{/numOfPrizes}}
                </div>
            </div>
            <div id="btnLottoRule" class="btn btn-red btn-inline share">
                <div class="btn-inner">
                    <i class="icon icon-share"></i>分享挣奖券
                </div>
            </div>
       </div>
       {{#hasCoupon}}
       <div id="card">
        <div id="envelope-content">

        </div>
        <div id="envelope-back"></div>
        <div id="envelope-front"></div>
        <div id="envelope-cover"></div>
        <div id="envelope-sealing">
            <div id="envelope-sealingInner">
                <div id="envelope-title">抽我</div>
            </div>
        </div>
        <div id="envelope-arrow" class="float">
            <div id="envelope-arrowCaret"></div>
            <div id="envelope-arrowPoints">{{cardPrice}}</div>
        </div>
        <div id="lotto-info">
            <span class="lotto-pointsCount">{{userName}}，您还有{{numOfCoupons}}张奖券</span>
        </div>
       </div>
       {{/hasCoupon}}
       {{^hasCoupon}}
       <div id="noCoupon" class="cleafix">
       (;_;)<br />
       抽一次奖需要10张奖券<br />
       你只有{{numOfCoupons}}张<br />
       分享一下可以送奖券哦！
       </div>
       {{/hasCoupon}}
       <div id="lottoAward">
        <div class="gameButton" >
            <div class="gameButton-innner">
                <div id="lottoAwardTitle">
                    <img src="app/img/lottoawardtitle.png" />
                </div>
                <ul id="lottoAwardList" class="clearfix">
                    <li class="lottoAward-item">
                        <img class="lottoAward-img" src="app/img/prize-shampoo.jpg" />
                        <p class="lottoAward-name">海飞丝洗护套装</p>
                    </li>
                    <li class="lottoAward-item">
                        <img class="lottoAward-img" src="app/img/prize-football.jpg" />
                        <p class="lottoAward-name">世界杯官方足球</p>
                        <div class="lottoAward-more">梅西签名</div>
                    </li>
                    <li class="lottoAward-item">
                        <img class="lottoAward-img" src="app/img/prize-shirt.jpg" />
                        <p class="lottoAward-name">原味空运球衣</p>
                        <div class="lottoAward-more">梅西签名</div>
                    </li>
                    <li class="lottoAward-item">
                        <img class="lottoAward-img" src="app/img/prize-points.jpg" />
                        <p class="lottoAward-name">游戏积分</p>
                    </li>
                    
                </ul>
            </div>
        </div>
       </div>
</div><!--/container-->
<div id="lottoBackHome"  class="backhome">
    首页
</div>