<div class="leaderboard-content current" id="leaderboard-score">
    <ul class="leaderboard-list">
    
        <li class="leaderboard-item leaderboard-header">
            <div class="leaderboard-col1"></div>
            <div class="leaderboard-col2">用户</div>
            <div class="leaderboard-col3">总积分</div>
        </li>
        {{#accumulatePointsRankList}}
        <li class="leaderboard-item">
            <div class="leaderboard-col1"><span class="leaderboard-rank">{{rankId}}</span><span class="icon-crown"></span></div>
            <div class="leaderboard-col2"><span class="leaderboard-name">{{name}}</span><span class="leaderboard-gamePlayed">挑战次数:{{gamePlayed}}</span></div>
            <div class="leaderboard-col3"><div class="leaderboard-score">{{score}}</div></div>
            <div class="leaderboard-inspire">恭喜你，继续保持哟！</div>
            <div class="icon-me"></div>
        </li>
        {{/accumulatePointsRankList}}
        {{#isLogin}}
        {{^accumulateLeader}}
        <li class="leaderboard-item leaderboard-more">...</li>
        <li class="leaderboard-item leaderboard-me leaderboard-smallRank">
            <div class="leaderboard-col1"><span class="leaderboard-rank">{{accumulatePointsRanking}}</span></div>
            <div class="leaderboard-col2"><span class="leaderboard-name">{{userName}}</span><span class="leaderboard-gamePlayed">挑战次数:{{accumulateGamePlayed}}</span></div>
            <div class="leaderboard-col3"><div class="leaderboard-score">{{accumulatePoints}}</div></div>
            <div class="leaderboard-inspire">距离去巴西还差{{accumulatePointsGap}}分，加油啊</div>
            <div class="icon-me"></div>
        </li>
        {{/accumulateLeader}}
        {{/isLogin}}
    
    </ul>
</div>

<div class="leaderboard-content" id="leaderboard-dribble">
    <ul class="leaderboard-list">
    
        <li class="leaderboard-item leaderboard-header">
            <div class="leaderboard-col1"></div>
            <div class="leaderboard-col2">用户</div>
            <div class="leaderboard-col3">最好成绩</div>
        </li>
        {{#dribbleGameRankList}}
        <li class="leaderboard-item">
            <div class="leaderboard-col1"><span class="leaderboard-rank">{{rankId}}</span><span class="icon-crown"></span></div>
            <div class="leaderboard-col2"><span class="leaderboard-name">{{name}}</span><span class="leaderboard-gamePlayed">挑战次数:{{gamePlayed}}</span></div>
            <div class="leaderboard-col3"><div class="leaderboard-score">{{score}}</div></div>
            <div class="icon-me"></div>
        </li>
        {{/dribbleGameRankList}}
        {{#isLogin}}
        {{^dribbleGameLeader}}
        <li class="leaderboard-item leaderboard-more">...</li>
        <li class="leaderboard-item leaderboard-me leaderboard-smallRank">
            <div class="leaderboard-col1"><span class="leaderboard-rank">{{dribbleGameRanking}}</span></div>
            <div class="leaderboard-col2"><span class="leaderboard-name">{{userName}}</span><span class="leaderboard-gamePlayed">挑战次数:{{dribbleGamePlayed}}</span></div>
            <div class="leaderboard-col3"><div class="leaderboard-score">{{dribbleGameScore}}</div></div>
            <div class="icon-me"></div>
        </li>
        {{/dribbleGameLeader}}
        {{/isLogin}}
    
    </ul>
</div>

<div class="leaderboard-content" id="leaderboard-pass">
    <ul class="leaderboard-list">
    
        <li class="leaderboard-item leaderboard-header">
            <div class="leaderboard-col1"></div>
            <div class="leaderboard-col2">用户</div>
            <div class="leaderboard-col3">最好成绩</div>
        </li>
        {{#passGameRankList}}
        <li class="leaderboard-item">
            <div class="leaderboard-col1"><span class="leaderboard-rank">{{rankId}}</span><span class="icon-crown"></span></div>
            <div class="leaderboard-col2"><span class="leaderboard-name">{{name}}</span><span class="leaderboard-gamePlayed">挑战次数:{{gamePlayed}}</span></div>
            <div class="leaderboard-col3"><div class="leaderboard-score">{{score}}</div></div>
            <div class="icon-me"></div>
        </li>
        {{/passGameRankList}}
        {{#isLogin}}
        {{^passGameLeader}}
        <li class="leaderboard-item leaderboard-more">...</li>
        <li class="leaderboard-item leaderboard-me leaderboard-smallRank">
            <div class="leaderboard-col1"><span class="leaderboard-rank">{{passGameRanking}}</span></div>
            <div class="leaderboard-col2"><span class="leaderboard-name">{{userName}}</span><span class="leaderboard-gamePlayed">挑战次数:{{passGamePlayed}}</span></div>
            <div class="leaderboard-col3"><div class="leaderboard-score">{{passGameScore}}</div></div>
            <div class="icon-me"></div>
        </li>
        {{/passGameLeader}}
        {{/isLogin}}
    
    </ul>
</div>

<div class="leaderboard-content" id="leaderboard-shoot">
    <ul class="leaderboard-list">
    
        <li class="leaderboard-item leaderboard-header">
            <div class="leaderboard-col1"></div>
            <div class="leaderboard-col2">用户</div>
            <div class="leaderboard-col3">最好成绩</div>
        </li>
        {{#shootGameRankList}}
        <li class="leaderboard-item">
            <div class="leaderboard-col1"><span class="leaderboard-rank">{{rankId}}</span><span class="icon-crown"></span></div>
            <div class="leaderboard-col2"><span class="leaderboard-name">{{name}}</span><span class="leaderboard-gamePlayed">挑战次数:{{gamePlayed}}</span></div>
            <div class="leaderboard-col3"><div class="leaderboard-score">{{score}}</div></div>
            <div class="icon-me"></div>
        </li>
        {{/shootGameRankList}}
        {{#isLogin}}
        {{^shootGameLeader}}
        <li class="leaderboard-item leaderboard-more">...</li>
        <li class="leaderboard-item leaderboard-me leaderboard-smallRank">
            <div class="leaderboard-col1"><span class="leaderboard-rank">{{shootGameRanking}}</span></div>
            <div class="leaderboard-col2"><span class="leaderboard-name">{{userName}}</span><span class="leaderboard-gamePlayed">挑战次数:{{shootGamePlayed}}</span></div>
            <div class="leaderboard-col3"><div class="leaderboard-score">{{shootGameScore}}</div></div>
            <div class="icon-me"></div>
        </li>
        {{/shootGameLeader}}
        {{/isLogin}}
    
    </ul>
</div>

