<div id="ruleMain" class="container">
<p class="ruleTitle">
想要说走就走的免费巴西游？<br />
玩玩足球游戏就能实现！<br />
</p>
<p>
现在参加海飞丝巴西实力挑战赛开始玩游戏<br />
总分前五名的玩家就可以获得免费巴西游名额<br />
一次说走就走的旅行，一次靠实力就能实现的机会，你可以的！<br />
另外单个游戏最高分前五名也有奖励哟。<br />
</p>
<p class="ruleLink">
<a href="#">想试试自己的实力？点我进游戏！</a>
</p>
<p class="ruleTitle">
分享就能抽大礼，<br />
梅西签名球衣在这里！

</p>
<p>
你是想要梅西签名版球衣还是神秘礼包呢？<br />
现在来分享活动页，或在游戏中接到“海飞丝”瓶子就能获得抽奖奖券进行抽奖<br />
你将会有很大的几率抢到梅西亲笔签名的足球和球衣喔！<br />
当然，奖品中也少不了一大波海飞丝伴随<br />
三个字概括我们的抽奖就是：无限制各种送！<br />
</p>
<p class="ruleLink">
<a href="#lottery">抽我抽我抽我！</a>
</p>

<dl class="clearfix">
    <dt>奖品设置</dt>
    <dd>
        <ul>
            <li>一次说走就走的免费巴西游：奖品说明</li>
            <li>原味空运签名球衣：梅西签名版、普通版</li>
            <li>世界杯专用足球</li>
            <li>海飞丝套装</li>
            <li>游戏积分</li>
        </ul>
    </dd>
</dl>
<dl class="clearfix">
    <dt>活动时间</dt>
    <dd>
        <ul>
        2014年4月15日-7月15日
        </ul>
    </dd>
</dl>
</div>
<div id="ruleBackHome" class="btn btn-blue btn-block">
    <div class="btn-inner">
    返回首页
    </div>
</div>


<div id="ruleBackHomeTop"  class="backhome">
    首页
</div>