
<div class="container">
      <div id="plane" data-entranceAnimation="slideInRight" >
      <img src="app/img/plane.png" />
      <div id="userCoupon"><span class="lotto-pointsCount">{{numOfCoupons}}</span> 抽我</div>
      <div id="userAward">{{numOfPrizes}}</div>
      </div>
      

      <div id="user">
        <div id="user-avatar">
        <img src="{{headImageUrl}}" />
        </div>
        
      </div>

      <div id="rule" data-entranceAnimation="slideInLeft" >
      <img src="app/img/rule.png" />
      <div id="userRank">
      总榜排名 <span class="rank">{{accumulatePointsRanking}}</span>
      </div>
      </div>
</div><!--/container-->

      <div  id="gameNavigation">
      <!--
      <div id="ruleButton" data-entranceAnimation="slideInLeft" >
            <div class="ruleButton-inner">
              <div id="user">
                <div id="user-avatar">
                <img src="{{headImageUrl}}" />
                </div>
              </div>
                <img id="ruleImgLeft" src="app/img/rule-left.png" />
                <img id="ruleImgRight" src="app/img/rule-right.png" />
                <img class="gameButton-img" src="app/img/luckytxt.png" />
                <div id="ruleLinkLeft"><i class="fa fa-chevron-down fa-lg"></i></div>
                <div id="ruleLinkRight"><i class="fa fa-chevron-right fa-lg"></i></div>
                <div id="ruleLeft">游戏赢巴西游</div>
                <div id="ruleRight">抽奖抢梅西球衣</div>
                
                
            </div>
        </div>
        -->
      {{#dribbleGame.enabled}}
      <div class="gameButton" id="gameButton-dribble" data-entranceAnimation="slideInLeft"  data-target="gameDribble">
            <div class="gameButton-innner">
                <img class="gameButton-img" src="app/img/game1-btn.png" />
            </div>
            {{#isLogin}}
            <div class="gameButton-tag">
                <div class="gameButton-small">
                    游戏排名
                </div>
                <div class="gameButton-large">
                    {{dribbleGameRanking}}
                </div>
            </div>
            {{/isLogin}}
        </div>
        {{/dribbleGame.enabled}}
        {{#passGame.enabled}}
        <div class="gameButton" id="gameButton-pass" data-entranceAnimation="slideInLeft" data-target="gamePass">
            <div class="gameButton-innner">
                <img id="gameButton-passLeft" src="app/img/game2-left.png" />
                <img id="gameButton-passRight" src="app/img/game2-right.png" />
                <img class="gameButton-img" src="app/img/game2-btn.png" />
            </div>
            {{#isLogin}}
            <div class="gameButton-tag">
                <div class="gameButton-small">
                    游戏排名
                </div>
                <div class="gameButton-large">
                    {{passGameRanking}}
                </div>
            </div>
            {{/isLogin}}
        </div>
        {{/passGame.enabled}}
        {{^passGame.enabled}}
        <div class="gameButton disabled" id="gameButton-pass" data-entranceAnimation="slideInLeft">
            <div class="gameButton-innner">
                <img class="gameButton-img" src="app/img/game2-disabled.png" />
            </div>
            <div class="gameButton-tag">
                <div class="gameButton-comingSoon">即将<br />开放</div>
            </div>
        </div>
        {{/passGame.enabled}}
        {{#shootGame.enabled}}
        <div class="gameButton" id="gameButton-shoot" data-entranceAnimation="slideInLeft" data-target="gameShoot">
            <div class="gameButton-innner">
                <img class="gameButton-img" src="app/img/game3-btn2.png" />
            </div>
            {{#isLogin}}
            <div class="gameButton-tag">
                <div class="gameButton-small">
                    游戏排名
                </div>
                <div class="gameButton-large">
                    {{shootGameRanking}}
                </div>
            </div>
            {{/isLogin}}
        </div>
        {{/shootGame.enabled}}
        {{^shootGame.enabled}}
        <div class="gameButton disabled" id="gameButton-shoot" data-entranceAnimation="slideInLeft">
            <div class="gameButton-innner">
                <img class="gameButton-img"  src="app/img/game3-btn.png" />
            </div>
            <div class="gameButton-tag">
                <div class="gameButton-comingSoon">即将<br />开放</div>
            </div>
        </div>
        {{/shootGame.enabled}}
      </div><!-- #gameNavigation -->


<div id="leaderboard">
    <div id="showTops" ><img src="app/img/showtops.png" /></div>
            <div id="leaderboard-main" >
                    
                    <div id="leaderboardPrize-score" class="leaderboardPrize">
                        <img src="app/img/leaderboardplane.png" />
                    </div>
                    <div id="leaderboardPrize-shirt" class="leaderboardPrize">
                        <img src="app/img/leaderboardshirt.png" />
                    </div>
                    <ul id="leaderboard-buttons" class="clearfix">
                        <li class="leaderboard-button" id="icon-trophy"><img src="app/img/trophy.png"/></li>
                        <li class="leaderboard-button current" id="leaderboard-buttonScore" data-type="score">                总榜
                            <div class="topCaret"></div>
                            <div class="bottomCaret"></div>
                        </li>
                        <li class="leaderboard-button" id="leaderboard-buttonDribble"  data-type="dribble">
                            过人榜
                            <div class="topCaret"></div>
                            <div class="bottomCaret"></div>
                        </li>
                        
                        <li class="leaderboard-button" id="leaderboard-buttonPass"  data-type="pass">
                            传球榜
                            <div class="topCaret"></div>
                            <div class="bottomCaret"></div>
                        </li>
                        <!--
                        <li class="leaderboard-button" id="leaderboard-buttonShoot"  data-type="shoot">
                            射门榜
                            <div class="topCaret"></div>
                            <div class="bottomCaret"></div>
                        </li>
                        -->
                    </ul>
                    <div class="leaderboardContainer loading">

                    </div>
            </div>
    <div id="backHome"><img src="app/img/backhome.png" /></div>
    <a id="copyright" href="http://www.head-shoulders.com.cn/" target="_blank">
            <img src="app/img/pg.png" />
    </a>

</div><!--/leaderboard-->
<div id="exitLink">
            切换用户
</div>
  <div id="share" class="share">

  </div><!-- share -->
  <div id="ruleConner">

  </div><!-- ruleConner -->
