<div class="container">
      <div id="plane" data-entranceAnimation="slideInRight" ><img src="app/img/plane.png" /></div>
      
      {{#isLogin}}
      <div id="user">
        <div id="user-avatar">
        <img src="{{headimgurl}}" />
        </div>
      </div>
      {{/isLogin}}
      <div id="rule" data-entranceAnimation="slideInLeft" ><img src="app/img/rule.png" /></div>
</div><!--/container-->
      <div  id="gameNavigation">
      <a class="gameButton" id="gameButton-dribble" data-entranceAnimation="slideInLeft"  data-target="gameDribble">
            <div class="gameButton-innner">
                <img class="gameButton-img" src="app/img/game1-btn.png" />
            </div>
            {{#isLogin}}
            <div class="gameButton-tag">
                <div class="gameButton-small">
                    世界排名
                </div>
                <div class="gameButton-large">
                    {{dribbleGameRanking}}
                </div>
            </div>
            {{/isLogin}}
        </a>
        
        <a class="gameButton" id="gameButton-pass" data-entranceAnimation="slideInLeft" data-target="gamePass">
            <div class="gameButton-innner">
                <img id="gameButton-passLeft" src="app/img/game2-left.png" />
                <img id="gameButton-passRight" src="app/img/game2-right.png" />
                <img class="gameButton-img" src="app/img/game2-btn.png" />
            </div>
            {{#isLogin}}
            <div class="gameButton-tag">
                <div class="gameButton-small">
                    世界排名
                </div>
                <div class="gameButton-large">
                    {{passGameRanking}}
                </div>
            </div>
            {{/isLogin}}
        </a>
        
        <a class="gameButton disabled" id="gameButton-shoot" data-entranceAnimation="slideInLeft"  data-target="gameShoot">
            <div class="gameButton-innner">
                <img class="gameButton-img"  src="app/img/game3-btn.png" />
            </div>
        </a>
      </div><!-- #gameNavigation -->


<div id="leaderboard">
    <div id="showTops" ><img src="app/img/showtops.png" /></div>
            <div id="leaderboard-main" >

                    <ul id="leaderboard-buttons" class="clearfix">
                        <li class="leaderboard-button" id="icon-trophy"><img src="app/img/trophy.png"/></li>
                        <li class="leaderboard-button current" id="leaderboard-buttonScore" data-type="score">                总积分
                        </li>
                        <li class="leaderboard-button" id="leaderboard-buttonDribble"  data-type="dribble">
                            过人
                        </li>
                        <li class="leaderboard-button" id="leaderboard-buttonPass"  data-type="pass">
                            传球
                        </li>
                        <!--
                        <li class="leaderboard-button" id="leaderboard-buttonShoot"  data-type="shoot">
                            射门
                        </li>
                        -->
                    </ul>
                    <div class="leaderboardContainer">

                    </div>
            </div>
    <div id="backHome"><img src="app/img/backhome.png" /></div>
</div><!--/leaderboard-->